footer#footer.footer
  .footer__body.container
      .content-footer__body
        .content-footer__item.tiny-footer
            .tiny-footer__icon
              img(src="img/footerimg/jsay_cafe.svg",alt="")
        .content-footer__item.tiny-footer
          .tiny-footer__body
            .tiny-footer__title Телефон
            .tiny-footer__text +7 (900) 123 45 67
            .tiny-footer__title Почта
            .tiny-footer__text jsay.cafe@mail.ru
        .content-footer__item.tiny-footer
          .tiny-footer__body
            .tiny-footer__title Адрес
            .tiny-footer__text Романов пер., 4 стр. 2, Москва, 125009
            .tiny-footer__title Время работы
            .tiny-footer__text 8:00 – 23:00