header#header.header
  .header__plaha
  .header__body.container
    .header__burger.icon-menu
      span
      span
      span
    a.header__logo(href="#")
      img(src="img/header/jsay_cafe.svg",alt="jsay_cafe")
    .header__menu.menu
      nav.menu__list
        ul.menu__items
          li
            a.menu__link(href="#") Cоздать кофе
          li
            a.menu__link(href="#") Наша команда
          li
            a.menu__link(href="#") Меню
          li
            a.menu__link(href="#") Бронь стола
          li
            a.menu__link(href="#") о нас
          li
            a.menu__link(href="#") Контакты
    a.header__icon(href="#")
      img(src="img/header/profile.svg",alt="img")
    .header__decor.header-decor
      .header-decor__body
        img(src="img/header/Group-137.svg",alt="img")
      
 

  //- .template
  //-   img(src="img/header/desktop.png",alt="img")