
@font-face {
font-family: PlayfairDisplay;
src:
local(PlayfairDisplay-Regular),
url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
url('../fonts/PlayfairDisplay-Regular}') format('embedded-opentype'),
url('../fonts/PlayfairDisplay-Regular.svg  ') format('svg'),
url('../fonts/PlayfairDisplay-Regular.otf  '),
url('../fonts/PlayfairDisplay-Regular.eot  ');
font-weight: normal;
font-style: normal;
font-stretch: normal;
}

@font-face {
font-family: Geometria;
src:
local(Geometria-Regular),
url('../fonts/Geometria-Regular.woff') format('woff'),
url('../fonts/Geometria-Regular.ttf') format('truetype'),
url('../fonts/Geometria-Regular}') format('embedded-opentype'),
url('../fonts/Geometria-Regular.svg  ') format('svg'),
url('../fonts/Geometria-Regular.otf  '),
url('../fonts/Geometria-Regular.eot  ');
font-weight: normal;
font-style: normal;
font-stretch: normal;
}

@mixin Text-Style-1{
font-family: PlayfairDisplay;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 130%;

/* or 18px */
letter-spacing: 0.05em;
text-transform: uppercase;

/* dark */
color: #30261D;
};

@mixin Text-Style-2{
font-family: Geometria;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

/* dark */
color: #30261D;
// opacity: 0.25;
};

@mixin Text-Style-3{
 font-family: PlayfairDisplay;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 130%;
letter-spacing: 0.05em;
color: #30261D;
};

@mixin Text-Style-4{
      font-family: Geometria;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 142.69%;
display: flex;
align-items: center;
text-align: center;
color: #30261D;
};
@mixin Text-Style-5{
font-family: Geometria;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
text-align: center;
color: #816040;
};
@mixin Text-Style-6{
font-family: Geometria;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;
text-align: center;
color: #30261D;
};
@mixin Text-Style-7{
font-family: Geometria;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;
color: #816040;
};
@mixin Text-Style-8{
font-family: Geometria;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
text-decoration-line: underline;
};
@mixin Text-Style-9{
font-family: Geometria;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #30261D;

};
@mixin Text-Style-10{

};

