.slider-top
  .slider-top__body.container-top
    .slider-top__slides
      .slider-top-js.container-top
        .slider-top__slide.slider-top-tiny
          .slider-top-tiny__body
            .slider-top-tiny__bg
            .ibg.bg
              img(src="img/slider-top/imgslidertop-1.jpg",alt="img") 
        .slider-top__slide.slider-top-tiny
          .slider-top-tiny__body
            .slider-top-tiny__bg
            .ibg.bg
              img(src="img/slider-top/imgslidertop-1.jpg",alt="img") 
        .slider-top__slide.slider-top-tiny
          .slider-top-tiny__body
            .slider-top-tiny__bg
            .ibg.bg
              img(src="img/slider-top/imgslidertop-1.jpg",alt="img") 

      .slider-top__arrows.arrows-slider-top
        .arrows-slider-top__arrow.arrows-slider-top__arrow_prev
          img.icon(src="img/slider-top/arrow-left.svg",alt="img") 
        .arrows-slider-top__arrow.arrows-slider-top__arrow_next
          img.icon(src="img/slider-top/arrow-left.svg",alt="img") 

    .slider-top__plaza.slider-top-plaza.container
      .link-1
        .link-1__body
          .link-1__icon
            img(src="img/icons/logo.gif",alt="")
          .link-1__title
          form.link-1__form.form-link-1(action='')
            .form-link-1_input
              input(type='text' name='username'   placeholder='Поиск')  
          a.form-link-1_voise


section#content-main.content-main
  .content-main_bg.ibg.bg
    img(src="img/content-main/slider.jpg",alt="")
  section#popular.popular
    .popular__body.container
      .popular-head__title популярное
        a.popular__link-all(href="#") Все меню
      .popular__content.content-popular
        .content-popular__body
          .content-popular__item.tiny-popular
            .tiny-popular__body
              .tiny-popular__bg
                .ibg.bg
                  img(src="img/content-main/img1.png",alt="") 
              .tiny-popular__icon
                img.icon(src="img/content-main/hard.svg",alt="")
              .tiny-popular__title Описание товара 
              .tiny-popular__text.tiny-popular__text_one 300 г
              .tiny-popular__text.tiny-popular__text_two 250 ₽
              .tiny-popular__button
                a(href="#")
                  span 
          .content-popular__item.tiny-popular
            .tiny-popular__body
              .tiny-popular__bg
                .ibg.bg
                  img(src="img/content-main/img4.png",alt="") 
              .tiny-popular__icon
                img.icon(src="img/content-main/hard.svg",alt="")
              .tiny-popular__title Описание товара 
              .tiny-popular__text.tiny-popular__text_one 300 г
              .tiny-popular__text.tiny-popular__text_two 250 ₽
              .tiny-popular__button
                a(href="#")
                  span 
          .content-popular__item.tiny-popular
            .tiny-popular__body
              .tiny-popular__bg
                .ibg.bg
                  img(src="img/content-main/img3.png",alt="") 
              .tiny-popular__icon
                img.icon(src="img/content-main/hard.svg",alt="")
              .tiny-popular__title Описание товара 
              .tiny-popular__text.tiny-popular__text_one 300 г
              .tiny-popular__text.tiny-popular__text_two 250 ₽
              .tiny-popular__button
                a(href="#")
                  span 
          .content-popular__item.tiny-popular
            .tiny-popular__body
              .tiny-popular__bg
                .ibg.bg
                  img(src="img/content-main/img4.png",alt="") 
              .tiny-popular__icon
                img.icon(src="img/content-main/hard.svg",alt="")
              .tiny-popular__title Описание товара 
              .tiny-popular__text.tiny-popular__text_one 300 г
              .tiny-popular__text.tiny-popular__text_two 250 ₽
              .tiny-popular__button
                a(href="#")
                  span 

  section#create.create
    .create__body.container
      .create-head__title СОЗДАЙ СВОЙ JSAY КОФЕ
      .create__content.content-create
        .content-create__body
          .content-create__item.tiny-create
            .tiny-create__body
              .tiny-create__bg.ibg.bg
                img(src="img/content-main/photo1.png",alt="") 
              .tiny-create__title Создай свой кофе,   сделай предзаказ и не жди в ресторане!
              .tiny-create__button
                a(href="#")
                  span Создать
              .tiny-create__plaha

  section#teamower.teamower
    .teamower__body.container
      .teamower__head
          .teamower-head__title Наша команда
      .teamower__content.content-teamower
        .content-teamower__body
          .content-teamower__item.tiny-teamower
            .tiny-teamower__body
              .tiny-teamower__bg
                .ibg.bg
                  img(src="img/content-main/img2.png",alt="") 
              .tiny-teamower__title Иван Горбунов
              .tiny-teamower__text Официант 
              .tiny-teamower__button1
                .tiny-create__button
                  a(href="#")
                    span Чаевые 
              .tiny-teamower__button2
                .tiny-create__button-dark
                  a(href="#")
                    span Отзыв
          .content-teamower__item.tiny-teamower
            .tiny-teamower__body
              .tiny-teamower__bg
                .ibg.bg
                  img(src="img/content-main/img10.png",alt="") 
              .tiny-teamower__title Евгений Вареников
              .tiny-teamower__text Бариста 
              .tiny-teamower__button1
                .tiny-create__button
                  a(href="#")
                    span Чаевые 
              .tiny-teamower__button2
                .tiny-create__button-dark
                  a(href="#")
                    span Отзыв
          .content-teamower__item.tiny-teamower
            .tiny-teamower__body
              .tiny-teamower__bg
                .ibg.bg
                  img(src="img/content-main/img2.png",alt="") 
              .tiny-teamower__title Иван Горбунов
              .tiny-teamower__text Официант 
              .tiny-teamower__button1
                .tiny-create__button
                  a(href="#")
                    span Чаевые 
              .tiny-teamower__button2
                .tiny-create__button-dark
                  a(href="#")
                    span Отзыв
          .content-teamower__item.tiny-teamower
            .tiny-teamower__body
              .tiny-teamower__bg
                .ibg.bg
                  img(src="img/content-main/img10.png",alt="") 
              .tiny-teamower__title Евгений Вареников
              .tiny-teamower__text Бариста 
              .tiny-teamower__button1
                .tiny-create__button
                  a(href="#")
                    span Чаевые 
              .tiny-teamower__button2
                .tiny-create__button-dark
                  a(href="#")
                    span Отзыв
          .content-teamower__item.tiny-teamower
            .tiny-teamower__body
              .tiny-teamower__bg
                .ibg.bg
                  img(src="img/content-main/img2.png",alt="") 
              .tiny-teamower__title Иван Горбунов
              .tiny-teamower__text Официант 
              .tiny-teamower__button1
                .tiny-create__button
                  a(href="#")
                    span Чаевые 
              .tiny-teamower__button2
                .tiny-create__button-dark
                  a(href="#")
                    span Отзыв
          .content-teamower__item.tiny-teamower
            .tiny-teamower__body
              .tiny-teamower__bg
                .ibg.bg
                  img(src="img/content-main/img10.png",alt="") 
              .tiny-teamower__title Евгений Вареников
              .tiny-teamower__text Бариста 
              .tiny-teamower__button1
                .tiny-create__button
                  a(href="#")
                    span Чаевые 
              .tiny-teamower__button2
                .tiny-create__button-dark
                  a(href="#")
                    span Отзыв